@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html[data-theme="light"] {
    --primary: #1c1d1f;
    --secondary: #afafc0;
    --background: #f8f7f9;
  }

  html[data-theme="dark"] {
    --primary: #f8f7f9;
    --secondary: #afafc0;
    --background: #1c1d1f;
  }

  html[data-theme="lime"] {
    --primary: #06df81;
    --secondary: #0b958d;
    --background: #fff95b;
  }

  html[data-theme="wood"] {
    --primary: #d4be6d;
    --secondary: #b68e58;
    --background: #3e2519;
  }
}

html {
  background-color: var(--background);
}
